.header-left {
	color: rgba(219.0000021457672, 53.00000064074993, 58.00000034272671, 1);
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
}
.imgLogo{
	width: 49px;
	height: 56px;
}
.header-right {
	color: rgba(219.0000021457672, 53.00000064074993, 58.00000034272671, 1);
	font-weight: bold;
	font-size: 14px;
}
.head-navbar {
	background: #DB353A;
	color: white;
	padding: 10px;
	margin-top: 10px;
}
.text-content-red {
	color: rgba(219.0000021457672, 53.00000064074993, 58.00000034272671, 1);
}
.box-style {
	margin-left: 50px;
}
.nenMauBe {
	padding: 5px;
	background: #FFE4C4;
	color: #333399;
}
.nenMauTrang {
	margin-left: 10px;
	padding: 4px;
	border: 1px solid #DDDDDD;
}
.nenMauXam {
	margin-left: 10px;
	padding: 5px;
	background: #A9A9A9;
	color: white;
}
.chuMauTrang {
	margin-left: 10px;
	padding: 5px;
	background: #333399;
	color: white;
}
.chuMauLam {
	margin-left: 10px;
	padding: 4px;
	border: 1px solid #DDDDDD;
	background: white;
	color: #333399;
}
.chuMauDen {
	margin-left: 10px;
	padding: 4px;
	border: 1px solid #DDDDDD;
	background: white;
	color: black;
}
.text-content {
	font-size: 18px;
	color: black;
}
.imgBoTruong{
	width: 500px;
	height: 333px;
}
.text-tin-bai {
	font-size: 14px;
}